@use 'sass:map';
@use '../../variables' as vars;
@use '../../general';

.hero-heading-black {
  color: map.get(vars.$colors, black);
  text-align: center;
}

.pricing {
  @extend .v-stack;
  padding: 0 150px;
  margin: 2em 0;

  @media (max-width: vars.$mobile-breakpoints) {
    padding: 0 50px 40px 50px;
  }
}

.card-group {
  @extend .h-stack;
  justify-content: space-evenly;
  width: 100%;
  gap: 2em;

  @media (max-width: vars.$mobile-breakpoints) {
    flex-wrap: wrap;
  }

}

