@use "sass:map";
@use "../../variables" as variables;
@use "../../general";

label {
  font-size: 0.9rem;
  color: map.get(variables.$text-colors, black);
  display: block;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid map.get(variables.$colors, grey);
  border-radius: 4px;
  margin-top: 0.5em;

  &-error {
    border-color: map.get(variables.$colors, danger);
  }
}


.error-message {
  color: map.get(variables.$colors, danger);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: block;
}
