@use 'sass:map';
@use '../../variables' as vars;

.btn {
    width: auto;
    height: auto;
    padding: map.get(vars.$ptn-grid, '12pt')  map.get(vars.$ptn-grid, '24pt');
    border: none;
    border-radius: map.get(vars.$ptn-grid, '4pt');
    cursor: pointer;

    &-link {
        text-decoration: none;
    }
}