@use 'sass:map';
@use '../../variables' as vars;
@use '../../general';

.hero {
  padding: 50px 150px;
}

.hero-heading-white {
  color: map.get(vars.$colors, white);
}

.hero-subtitle {
  color: map.get(vars.$colors, white);
}