@use 'sass:map';
@use '../../variables' as vars;
@use '../../general';

.login-B {
  @extend .v-stack;
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  &-main {
    @extend .v-stack;
    background-color: map-get(vars.$colors, lightGrey);
    padding: 40px;
    width: 400px;
    border-radius: 16px;
    box-sizing: border-box;

    @media (max-width: vars.$mobile-breakpoints) {
      min-width: 240px;
      width: 100%;
      padding: 60px 30px;
      border-radius: 0px;
    }
  }
}

.formB {
  @extend .v-stack;
  align-items: stretch;
  width: 100%;
}

.formB-bottom {
  @extend .h-stack;
  justify-content: space-between;
  width: 100%;
}




